[data-template="wall"] {

  .wall {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: white;
    overflow: hidden;
    //    border: 1px solid $light-2;
    display: none;

    .wall-canvas {
      cursor: grab;
      background: white;
      height: 50000px;
      width: 50000px;
      left: -25000px;
      top: -25000px;

      //      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIElEQVQYV2NkIAK8e/fuPyMR6hhGFeINJXDwgAhiwhIAOZAl5ZptZ+8AAAAASUVORK5CYII=) repeat;
      //
      //      background-color: white;
      background-image: linear-gradient(90deg, #f7f7f7 5%, transparent 6%),
      linear-gradient(#f7f7f7 5%, transparent 6%);
      background-size: 20px 20px;
      position: relative;
      //      transform: scale(0.98);

      .canvas-title {
        height: 100vh;
        width: 100vw;
        left: 25000px;
        top: 25000px;
        //        margin-left: -5;
        margin-top: -40px;
        position: absolute;
        text-align: center;
        line-height: 100vh;
        color: rgba(0, 0, 0, 0.1);
        font-size: 50px;
        font-family: 'Kalam', cursive;
        font-weight: bold;
//        user-select: none;
      }
    }

    .wall-ui {
      position: absolute;
      z-index: 100;
      top: 15px;
      left: 15px;

      .ui-btn {
        height: 50px;
        width: 50px;
        line-height: 50px;
        border-radius: 50px;
        text-align: center;
        background: $dark-1;
        color: white;
        cursor: pointer;
        transition: transform .2s;
        font-size: 20px;
        margin-bottom: 15px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
        user-select: none;
        display:none;

        &:hover {
          transform: scale(1.2);
        }

        &:active {
          background: lighten($dark-1, 20%);
        }
      }

      &.alt {
        bottom: 0px;
        top: initial;

        .ui-btn {
          background: $dark-1;

          &:active {
            background: lighten($dark-1, 20%);
          }
        }
      }

    }

    .note {
      background: #eeeeee;
      padding: 10px;
      box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.2);
      cursor: hand;
      text-align: center;
      //      display: none;

      position: absolute;
      top: 25px;
      left: 25px;
      cursor: grab;

      width: 140px;
      height: 120px;

      font-family: 'Kalam', cursive;
//      font-family: 'Patrick Hand', cursive;
//      font-family: 'Indie Flower', cursive;
//      font-family: 'Architects Daughter', cursive;
      //      transform:rotate(3deg);
      transition: transform .1s, background .1s;

      .note-slip {
        position: absolute;
        background: rgba(0, 0, 0, 0.03);
        //        box-shadow: 0 0 25px 0 rgba(0,0,0,0.1);
        height: 20px;
        top: 0;
        left: 0;
        right: 0;
      }

      &.colour-1 {
        background: $primary;
      }

      &.colour-2 {
        background: $secondary;
      }

      &.colour-3 {
        background: $third;
      }

      &.colour-4 {
        background: $fourth;
      }

      &.colour-5 {
        background: $fifth;
      }

      &.ui-draggable-dragging {
        //        background-color: white;
        transform: scale(1.1) rotate(6deg) !important;
        cursor: grabbing;
      }

      .note-close {
        float: right;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: .2s;
        line-height: 20px;
        height: 20px;
        width: 20px;
        text-align: center;
        margin-top: -10px;
        margin-right: -10px;
        font-size: 12px;
      }

      .note-theme {
        @extend .note-close;
        margin-left: -10px;
        margin-right: 5px;
        float: left;
      }

      .note-move {
        float: left;
      }

      .note-header {
        //        font-weight:bold;
        font-size: 16px;
        cursor: text;
        margin-top: 25px;
        line-height: 25px;
        //        padding-bottom: 5px;
        //        margin-bottom: 5px;
        //        border-bottom: 1px solid darken(#FCF0AD, 10%);
      }

      .note-content {
        font-weight: bold;
        font-size: 12px;
        cursor: text;
        line-height: 1.4;
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
        margin-top: 15px;
        display: block;
        width: 120px;
        resize: none;
        text-align: center;
        height: 85px;
        overflow: hidden;
      }

      &:hover {
        .note-close {
          opacity: 1;
        }
      }
    }
  }
}