<div data-template="wall" data-ng-controller="WallCtrl">
    <div class="wall">
        <div class="wall-ui">
            <div class="ui-btn" ng-click="addNote('note')" data-toggle="tooltip" data-placement="right" title="Add Note">
                <i class="fa fa-square-o"></i>
            </div>
            <div class="ui-btn" ng-click="addNote('icon')" data-toggle="tooltip" data-placement="right" title="Add Icon">
                <i class="fa fa-pencil"></i>
            </div>
        </div>
        <div class="wall-ui alt">
            <!--<div class="ui-btn" ng-click="changeScale(0.1)" data-toggle="tooltip" data-placement="right" title="Zoom In">-->
                <!--<i class="fa fa-plus"></i>-->
            <!--</div>-->
            <!--<div class="ui-btn" ng-click="reduceScale(0.1)" data-toggle="tooltip" data-placement="right" title="Zoom Out">-->
                <!--<i class="fa fa-minus"></i>-->
            <!--</div>-->
            <div class="ui-btn" ng-click="" data-toggle="tooltip" data-placement="right" title="Add / Remove Collaborators">
                <i class="fa fa-users"></i>
            </div>
            <div class="ui-btn" ng-click="" data-toggle="tooltip" data-placement="right" title="Settings">
                <i class="fa fa-cog"></i>
            </div>
        </div>
        <div class="wall-ui alt-2">
            <div class="ui-btn" ng-click="" data-toggle="tooltip" data-placement="left" title="Tell Your Friends">
                <i class="fa fa-share-alt"></i>
            </div>
            <div class="ui-btn" ng-click="" data-toggle="tooltip" data-placement="left" title="Give Us Feedback!">
                <i class="fa fa-comments"></i>
            </div>
        </div>
        <div class="wall-zoom" style="display: inline">

            <div class="wall-canvas">
                <div class="canvas-title">{{getWall()}}</div>

                <div class="note colour-{{note.colour}} {{note.type}}"
                     ng-repeat="note in getNotes() track by $index"
                     ng-click="$event.stopPropagation()"
                     note-id="{{$index}}" style="top:{{note.top}}px;left:{{note.left}}px;transform: rotate({{note.angle}}deg)"
                        >
                    <div class="note-slip"></div>
                    <div class="note-theme" ng-click="changeColour($index); $event.stopPropagation()" data-toggle="tooltip" data-placement="top" title="Change Colour">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="note-theme note-change-icon" ng-click="changeIcon($index); $event.stopPropagation()" data-toggle="tooltip" data-placement="top" title="Change Icon">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="note-theme note-rotate-icon" ng-click="changeIconAngle($index); $event.stopPropagation()" data-toggle="tooltip" data-placement="top" title="Rotate Icon">
                        <i class="fa fa-rotate-right"></i>
                    </div>
                    <div class="note-theme note-change-size" ng-click="changeFontSize($index, 2); $event.stopPropagation()" data-toggle="tooltip" data-placement="top" title="Increase Font Size">
                        <i class="fa fa-chevron-up"></i>
                    </div>
                    <div class="note-theme note-change-size" ng-click="reduceFontSize($index, 2); $event.stopPropagation()" data-toggle="tooltip" data-placement="top" title="Decrease Font Size">
                        <i class="fa fa-chevron-down"></i>
                    </div>
                    <div class="note-close" ng-click="removeNote($index); $event.stopPropagation()" data-toggle="tooltip" data-placement="top" title="Remove From Wall">
                        <i class="fa fa-times"></i>
                    </div>
                    <textarea class="note-content" ng-model="note.content" ng-change="updateNote($index)" style="font-size:{{note.fontSize}}px;"></textarea>

                    <div class="note-icon">
                        <i class="fa fa-fw fa-{{icons[note.icon]}}" style="font-size:{{note.fontSize}}px;transform:rotate({{note.iconAngle}}deg)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
