<div data-template="landing">
    <div class="landing">
        <div class="landing-header">
            <div class="container">
                <div class="pull-left header-logo">WLL<span>.SPACE</span></div>

                <a href="http://app.wll.space" title="WLL.space" class="pull-right header-btn">Open App &nbsp; <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="landing-banner">
            <div class="container">
                <!--<div class="col-sm-1"></div>-->
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-lg-4">
                        <!--<div class="banner-title"><strong>Ideas, lists & projects <br/>beautifully organised.</strong></div>-->
                        <div class="banner-logo">WLL<span>.SPACE</span></div>
                        <div class="banner-title"><strong>Like having another wall in the office,</strong></div>
                        <!--<hr/>-->
                        <p>That's much easier to share.</p>
                        <hr/>
                        <p>Try the Alpha</p>
                        <!--<input class="banner-input" type="text" placeholder="Enter your email"/>-->
                        <a href="http://app.wll.space" title="WLL.space" class="banner-btn">Sign in with Google &nbsp;
                            <i class="fa fa-angle-right"></i></a>
                    </div>
                    <div class="col-sm-6 col-md-7 col-lg-8 hidden-xs">
                        <div class="banner-img">
                            <img src="/public/img/banner-1.png" alt=""/>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <img class="visible-xs" src="/public/img/banner-1.png" style="margin: 30px 0"/>

        <div class="landing-features">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="note colour-5" style="transform:rotate(-2deg)">
                            <div class="note-slip"></div>
                            <div class="note-content">Collaborate in Real-Time : <br/> Invite colleagues to work in tandem and see changes as they happen</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="note colour-4" style="transform:rotate(3deg)">
                            <div class="note-slip"></div>
                            <div class="note-content">Simple and Nifty :<br/>Capture your brainstorming sessions with ease</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="note colour-1" style="transform:rotate(-1deg)">
                            <div class="note-slip"></div>
                            <div class="note-content">Organise and Reorganise : <br/> Work on projects, events, ideas and everything else</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>