<div data-template="landing">
    <div class="landing">
        <div class="landing-header">
            <div class="container">
                STYCKI
            </div>
        </div>
        <div class="landing-banner">
            <div class="container">
                <!--<div class="col-sm-1"></div>-->
            <div class="row">
                <div class="col-sm-4">
                    <div class="banner-title"><strong>Ideas, lists & projects <br/>beautifully organised.</strong></div>
                    <hr/>
                    <p>Sign up today for beta access.</p>
                    <input class="banner-input" type="text" placeholder="Enter your email"/>
                    <div class="banner-btn">Sign Up &nbsp; <i class="fa fa-check"></i></div>
                </div>
                <div class="col-sm-8">
                    <div class="banner-img">
                        <img src="/public/img/banner-1.png" alt=""/>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
</div>