<div data-template="landing">
    <div class="landing">
        <div class="landing-header">
            <div class="container">
                <div class="pull-left header-logo">WLL<span>.SPACE</span></div>

                <a href="http://app.wll.space" title="WLL.space" class="pull-right header-btn">Sign in with Google &nbsp;
                    <i class="fa fa-angle-right"></i>
                </a>
                <div class="pull-right">Try the Alpha for FREE &nbsp; &nbsp; </div>
            </div>
        </div>
        <div class="landing-banner">
            <div class="container">
                <!--<div class="col-sm-1"></div>-->
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-lg-4">
                        <!--<div class="banner-title"><strong>Ideas, lists & projects <br/>beautifully organised.</strong></div>-->
                        <div class="banner-logo">WLL<span>.SPACE</span></div>
                        <div class="banner-title"><strong>Simple and Beautiful Digital Walls.</strong></div>
                        <!--<hr/>-->
                        <hr/>
                        <p>Try the Alpha for FREE.</p>
                        <!--<input class="banner-input" type="text" placeholder="Enter your email"/>-->
                        <a href="http://app.wll.space" title="WLL.space" class="banner-btn">Sign in with Google &nbsp;
                            <i class="fa fa-angle-right"></i></a>
                    </div>
                    <div class="col-sm-6 col-md-7 col-lg-8 hidden-xs">
                        <div class="banner-img">
                            <img src="/public/img/banner-1.png" alt=""/>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <img class="visible-xs" src="/public/img/banner-1.png" style="margin: 30px 0"/>

        <div class="container">
            <br/>
            <br/>

            <h1>Take Digital Notes</h1>
            <hr/>

            <div class="row">
                <div class="col-sm-4">

                    <div class="note colour-3" style="transform:rotate(-2deg)">
                        <div class="note-slip"></div>
                        <div class="note-content">Put your thoughts, projects and ideas down.</div>
                    </div>
                </div>
                <div class="col-sm-8">

                    <!--<h1>Create A Note</h1>-->
                    <video id="gfyVid1" class="gfyVid" autoplay="" loop="" muted="muted" poster="//thumbs.gfycat.com/TenseExaltedBug-poster.jpg" style="width: 100%">

                        <source id="webmsource" src="//zippy.gfycat.com/TenseExaltedBug.webm" type="video/webm">
                        <source id="mp4source" src="//zippy.gfycat.com/TenseExaltedBug.mp4" type="video/mp4">
                        Sorry, you don't have HTML5 video and we didn't catch this properly in javascript.
                        You can try to view the gif directly:
                        <a href="http://zippy.gfycat.com/TenseExaltedBug.gif">http://zippy.gfycat.com/TenseExaltedBug.gif</a>.
                    </video>
                </div>
            </div>
        </div>
        <div style="background: #f7f7f7;padding: 50px 0;margin-top:50px;">
            <div class="container">
                <div class="row">
                    <h1 style="">Plan Anything</h1>
                    <hr/>

                    <div class="col-sm-8">
                        <video id="gfyVid1" class="gfyVid" autoplay="" loop="" muted="muted" poster="//thumbs.gfycat.com/ThinCapitalAfricanparadiseflycatcher-poster.jpg" style="width: 100%">

                            <source id="webmsource" src="//zippy.gfycat.com/ThinCapitalAfricanparadiseflycatcher.webm" type="video/webm">
                            <source id="mp4source" src="//zippy.gfycat.com/ThinCapitalAfricanparadiseflycatcher.mp4" type="video/mp4">
                            Sorry, you don't have HTML5 video and we didn't catch this properly in javascript.
                            You can try to view the gif directly:
                            <a href="http://zippy.gfycat.com/ThinCapitalAfricanparadiseflycatcher.gif">http://zippy.gfycat.com/ThinCapitalAfricanparadiseflycatcher.gif</a>.
                        </video>
                    </div>
                    <div class="col-sm-4">
                        <div class="note colour-4" style="transform:rotate(-1deg)">
                            <div class="note-slip"></div>
                            <div class="note-content">Completely flexible and you can visualise and organise your information exactly as you'd like.</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="">
            <div class="container">
                <div class="row">
                    <br/>
                    <br/>
                    <h1>Multiple Walls</h1>
                    <hr/>
                    <div class="col-sm-4">
                        <div class="note colour-5" style="transform:rotate(-2deg)">
                            <div class="note-slip"></div>
                            <div class="note-content">Keep everything in it's place and all your projects separated.</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <video id="gfyVid1" class="gfyVid" autoplay="" loop="" muted="muted" poster="//thumbs.gfycat.com/QuarrelsomePaleInganue-poster.jpg" style="width: 100%">

                            <source id="webmsource" src="//zippy.gfycat.com/QuarrelsomePaleInganue.webm" type="video/webm">
                            <source id="mp4source" src="//zippy.gfycat.com/QuarrelsomePaleInganue.mp4" type="video/mp4">
                            Sorry, you don't have HTML5 video and we didn't catch this properly in javascript.
                            You can try to view the gif directly:
                            <a href="http://zippy.gfycat.com/QuarrelsomePaleInganue.gif">http://zippy.gfycat.com/QuarrelsomePaleInganue.gif</a>.
                        </video>
                    </div>
                </div>
                <br/>
                <br/>
            </div>
        </div>

        <div class="landing-banner">
            <div class="container">
                <!--<div class="col-sm-1"></div>-->
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4" style="text-align: center">
                        <p>Try the Alpha for FREE.</p>
                        <!--<input class="banner-input" type="text" placeholder="Enter your email"/>-->
                        <a href="http://app.wll.space" title="WLL.space" class="banner-btn">Sign in with Google &nbsp;
                            <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>