$dark-1 : #181818;
$dark-2 : #3b5d87;
$dark-3 : #6c88a0;
$light-1 : #f7f7f7;
$light-2 : #E3E5D7;

$primary : #d9ff87;
$secondary : #ffa6a0;
$third : #51c7f1;
$fourth : #ffec85;
$fifth : #e7c8ff;

//$primary : $dark-1;
//$third : $secondary;
//$fourth : $secondary;