<!DOCTYPE html>
<html lang="en">
<head>
    <!--<script src="//assets.adobedtm.com/9b346bffe2591722c64f88bf101c0664c8936e16/satelliteLib-93e274c58a6ad1ed12b80e4d8c0a01144cd6e324.js"></script>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Your Wall</title>

    <meta name="description" content="Your virtual post-it and sticky  wall."/>
    <meta name="google-site-verification" content="pBKCJt-19i0-qQCVbi5EEKn3bQ_c_i5ofFwMzGs3Q-o" />

    <link rel="stylesheet" href="/public/lib.css"/>
    <link rel="stylesheet" href="/public/app.css"/>
    <link rel="stylesheet" href="/public/fontawesome/css/font-awesome.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light|Droid+Serif:400,700|Indie+Flower|Covered+By+Your+Grace|Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700,200italic,300italic,400italic,600italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Architects+Daughter|Kalam:400,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Patrick+Hand|Indie+Flower|Architects+Daughter&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="227613390302-j01otbkldjgj8o5ct51u96vk3pakugdg.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body data-ng-app="app" class="<%= content.class %>">
<script>
//    chrome.browserAction.onClicked.addListener(function() {
//        chrome.windows.create({'url': 'scribe.storynatives.com', 'type': 'popup'}, function(window) {
//        });
//    });
</script>