<div data-template="users-popup" ng-controller="UsersPopupCtrl">
    <!--<div class="users-popup">-->
        <div class="popup users-popup">
            <div class="popup-header">Change Collaborators <i class="fa fa-times pull-right close-users-popup"></i></div>
            <div class="popup-content">
                <div class="popup-title">Current Collaborators</div>
                <div ng-repeat="user in getWallUsers()" class="popup-line"><i class="fa fa-times"></i> &nbsp; {{user}}</div>
                <hr/>
                <div class="popup-title">User Email (Must have a Google account!)</div>
                <input class="popup-input" ng-model="userEmail" placeholder="example@gmail.com"/>
                <div class="popup-btn" ng-click="addWallUser()">Add Collaborator &nbsp; <i class="fa fa-check"></i></div>
                <div class="popup-btn colour-2 pull-right close-users-popup">Close &nbsp; <i class="fa fa-times"></i></div>
            </div>

        </div>
    <!--</div>-->
</div>