<div data-template="google-auth">
    <div class="google-auth">
        <div class="google-title">Sign in with your Google account</div>

        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"  data-width="300" data-height="50" data-longtitle="true"></div>
    </div>
</div>
