<div data-template="header" data-ng-controller="HeaderCtrl" ng-show="isSignedIn()">
    <div class="header">
        <div class="header-burger" data-toggle="tooltip" data-placement="right" title="Open Sidebar"><i class="fa fa-navicon"></i></div>
        <div class="header-name hidden-xs" ng-show="isSignedIn()">
            Hi {{getName()}}!
        </div>
        <div class="header-image" ng-show="isSignedIn()" style="background-image:url('{{getImageUrl()}}')">

        </div>
        <!--Infinite WALL-->
        <!--Stycki--> WLL.space <strong style="color: #d9ff87">ALPHA</strong>
    </div>
</div>
