<div data-template="header" data-ng-controller="HeaderCtrl" ng-show="isSignedIn()">
    <div class="header">
        <div class="header-burger" data-toggle="tooltip" data-placement="bottom" title="Your Walls">#{{getWall()}} &nbsp; <i class="fa fa-angle-right"></i></div>
        <div class="header-new-wall" data-toggle="tooltip" data-placement="bottom" title="Add New Wall"><i class="fa fa-plus"></i> &nbsp; New Wall</div>
        <div class="header-name hidden-xs" ng-show="isSignedIn()">
            Hi {{getName()}}!
        </div>
        <div class="header-image" ng-show="isSignedIn()" style="background-image:url('{{getImageUrl()}}')">

        </div>
        <!--Infinite WALL-->
        <!--Stycki--> WLL.space <strong>ALPHA</strong>
    </div>
</div>
