<div data-template="sidebar" ng-controller="SidebarCtrl">
    <div class="sidebar">
        <div class="sidebar-close">
            <i class="fa fa-times"></i>
        </div>

        <div>&nbsp;</div>
        <h1 class="sidebar-title">Walls</h1>
        <div class="sidebar-wall" ng-repeat="wall in getWallList()" ng-click="setWall(wall.name)">{{wall.name}}</div>
    </div>
</div>